header img {
    position: relative;
    
    top:  20px;
    margin: 0 auto;
}
header ul li{
    display: inline;
    position: relative;
    bottom: 020px;
    margin-right: 60px;
}
header ul {
    width: 960px;
    margin-left: 280px;
}
header ul li a {
    text-decoration: none;
    color: #f0c38e;
    font-family: 'Bebas Neue', cursive; 
    font-size: x-large;
}
header {
    margin: 0 auto;
    background-color: #312c51;
    padding-bottom: 15px;
    
}
nav{
    width: 960px;
    margin: 0 auto;
}
main {
    width: 960px;
    margin: 0 auto;
}
main img {
    padding-top: 0px;
    position: relative;
    margin-top: 30px;
    margin-bottom: 30px;

}
main div{
    width: 960px;
}
main div img {
    margin-top: 0px;
    margin-right: 26px; 
}
#third{
    margin-right: 0px;
    margin-top: 0px;
}
#last{
    width: 50%;
    bottom: 30px;

}
main p{
    position: relative;
  height: 300px;
  overflow: scroll;
  width: 450px;
  float: right;
  right: 0px;
  font-family: 'Pacifico', cursive;
  bottom: 450px;
}
main h2{
    position: relative;
    left: 580px;
    bottom: 460px;
    font-size: x-large;
    font-family: 'Bebas Neue', cursive;
}
main button{
    position: relative;
    left: 520px;
    bottom: 135px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 9px;
}
main button:hover{
transition-delay: 350ms;
color: #f1aa9b;
background-color: #48426d;
}
footer {
    width: auto;
    height: 290px;
    background-color: #312c51;
}